{% extends "layout.html" %}

{% block title %}
Add Account
{% endblock %}

{% block main %}
<div class="alert alert-warning" role="alert" name="general_alert" id="general_alert"
    style="display: none; visibility: hidden">
    Please provide an account name
</div>
<form action="/add_account" method="post">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">Name</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="name" id="name" type="text"
                            placeholder="Name" onkeyup="enableSubmit();" onchange="enableSubmit();"
                            onblur="enableSubmit();">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Description</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="description" id="description"
                            type="text" placeholder="Description" onkeyup="enableSubmit();" onchange="enableSubmit();"
                            onblur="enableSubmit();">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Initial Amount</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="initial_amount"
                            id="initial_amount" type="number" placeholder="Initial amount" onkeyup="enableSubmit();"
                            onchange="enableSubmit();" onblur="enableSubmit();">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Type</td>
                <td class="align-middle">
                    <div class="form-group">
                        <select id="account_type" name="account_type">
                            {% for account_type in account_types %}
                            <option value="{{ account_type.id }}">{{ account_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" type="button" name="add" id="add" disabled>Add</button>
</form>
<script>
    let submit = document.querySelector("#add");

    function enableSubmit() {
        let name = document.querySelector("#name").value
        let description = document.querySelector("#description").value
        let initial_amount = document.querySelector("#initial_amount").value

        console.log(name);
        console.log(description);
        console.log(initial_amount);

        if (name && description && initial_amount) {

            submit.disabled = false;
        }
        else {
            submit.disabled = true;
        }
    }
</script>
{% endblock %}