{% extends "layout.html" %}

{% block title %}
Add Account
{% endblock %}

{% block main %}
<form action="/add_account" method="post">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">Name</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="name" id="name" type="text"
                            placeholder="Name">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Description</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="description" id="description"
                            type="text" placeholder="Description">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Initial Amount</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="initial_amount"
                            id="initial_amount" type="number" placeholder="Initial amount">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Type</td>
                <td class="align-middle">
                    <div class="form-group">
                        <select id="account_type" name="account_type">
                            {% for account_type in account_types %}
                            <option value="{{ account_type.id }}">{{ account_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" type="submit" name="add" id="add">Add</button>
</form>
{% endblock %}