{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
            <th scope="col">Modified Date</th>
        </tr>
    </thead>
    <tbody>
        {% for bucket in buckets %}
        <tr>
            <td>{{ bucket.name }}</td>
            <td>{{ bucket.description }}</td>
            <td>{{ bucket.created_date }}</td>
            <td>{{ bucket.modified_date }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}