{% extends "layout.html" %}

{% block title %}
Edit Category
{% endblock %}

{% block main %}
<form action="/edit_category" method="post">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">ID</td>
                <td class="align-middle">{{ category.id }}</td>
            </tr>
            <tr>
                <td class="align-middle">Name</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="name" id="name" type="text"
                            value="{{ category.name }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Description</td>
                <td class="align-middle">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="description" id="description"
                            type="text" value="{{ category.description }}">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Type</td>
                <td class="align-middle">
                    <div class="form-group">
                        <select id="category_type" name="category_type">
                            {% for category_type in category_types %}
                            <option value="{{ category_type.id }}"
                                {% if category.category_type.name==category_type.name %} selected="selected"
                                {% endif %}>{{ category_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Type</td>
                <td class="align-middle">
                    <div class="form-group">
                        <select id="account" name="account">
                            {% for account in accounts %}
                            <option value="{{ account.id }}" {% if category.account.name==account.name %}
                                selected="selected" {% endif %}>{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" type="submit" name="edit" id="edit" value="{{ category.id }}">Save</button>
</form>
{% endblock %}